.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  padding: 1rem;
  border-top: 1px solid #312d2d;
}

.footer a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 1rem;
}

.footer div a:hover,
.footer div a:focus,
.footer div a:active {
  color: #0070f3;
  border-color: #0070f3;
}


.title {
  padding-top: 4rem;
}

.card a {
  display: inline-block;
  font-size: 1.3rem;
  color: #0284c7;
  text-decoration: none;
}

.card a:hover,
.card a:focus,
.card a:active {
  border-bottom: 0.18em dotted #0369a1;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 0rem;
  padding: 0;
  z-index: 1;
  text-align: left;
  text-decoration: none;
}

.card h2 {
  margin: 0 0 0.6rem 0;
  font-size: 2.6rem;
  line-height: 0.9;
}

.card p {
  margin: 1.2rem 0 0 0;
  font-size: 0.96rem;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .title {
    padding-top: 0rem;
  }
}
